[2022-02-19 00:55] mfero opened #1 "Mike's ToDo List..."
<img width="664" alt="image" src="https://user-images.githubusercontent.com/7561861/154779256-9e5b7d2f-fa48-4857-8556-82355064e8c1.png">

[2022-02-19 01:12] mfero opened #2 "Research and choose a graph layout tool"
Daniel Bryce at SIFT.net has created a nice alpha for a directed graph style protocol editor for PAML (see screenshot). We should investigate tooling that fits better with our pretty-much pure JS development environment. @tgadam has suggested the following:

- https://js.cytoscape.org/#introduction
- https://github.com/uber/react-digraph
- https://reactflow.dev/
- https://github.com/projectstorm/r

[2022-02-19 01:23] mfero opened #3 "Node-RED style protocol viz/editor"
The screenshot below shows a 96-96 well plate stamp in Dan Bryce's PAML editor. We should pick a preferred JS-based graph tool (see ticket #2) and generate a simple mockup of how the tool should be laid out... perhaps in analogy with Node-RED.

Here is a screenshot from Dan's PAML editor to give us an idea of its look and feel.
<img width="1384" alt="image" src="https://user-images.githubuserconte

[2022-02-19 01:34] mfero opened #4 "Collect Protocols"
Collect plaintext protocols from various sources such as:
ABPDU
Microbyre
Lanzatech
JBEI
Protocols.io
Cookbooks

| Source  | Class |
| ------------- | ------------- |
| ABPDU  | Fermentation  |
| Microbyre  | Fermentation  |
| LanzaTech  | Fermentation  |
| JBEI  | Fermentation |
| ABF  | Fermentation  |
| JBEI | MolBio |
| Protocols.io  | MolBio  |
| Cookbooks  | Dishes  |

[2022-02-22 19:36] eabeliuk commented on #2
Had a meeting last week on this. Making progress.

[2022-02-22 19:36] eabeliuk commented on #3
Had a discussion about this last week. Making progress.

[2022-02-22 19:37] eabeliuk commented on #4
@mfero to create and share a folder to collect protocols.

[2022-03-08 19:17] tgadam commented on #2
@tgreen7 and @christopher-lamkin has been trying React Flow. The current focus is seeing if it could handle multiple input and output connector ports per node.

[2022-03-18 18:46] mfero commented on #2
@tgreen7 is proposing React Flow, it seems to be presenting basic graphs nicely.
![image](https://user-images.githubusercontent.com/7561861/159065227-06bd09ff-2c4a-4955-9faa-74057e0eec07.png)

[2022-03-18 18:56] mfero commented on #2
@tgreen7 perhaps we list some of the boxes we think this tool will check off?

- [ ] Can represent a basic acyclic directed graphs
- [ ] Can accommodate multiple inputs and outputs (a la Node-RED graphs)
- [ ] Can be viewed vertically or horizontally
- [ ] Can be zoomed and moved within a view
- [ ] Has a snap-to grid function for box size and location
- [ ] Has ability to move connector to differ

[2022-03-18 19:01] mfero commented on #4
[Protocol Examples Here](https://drive.google.com/drive/folders/1lUuT4Rx1ZcRhBodWthURpugbKwH8GnkO?usp=sharing)

[2022-03-18 22:26] mfero commented on #2
I think we have provisionally chosen React Flow, So I'll close this.

[2022-03-18 22:26] #2 closed

[2022-03-18 22:30] mfero commented on #3
In order to better understand the tooling, and to give us time to develop specific use cases, we have decided to go with read-only views of TG workflows for now. I'm going to leave this ticket open so we can revisit if/when we decide to expand our remit into graph-based workflow editors (rather than just visualization)

[2022-03-18 22:36] mfero opened #5 "Define preliminary JSON structure based on protocols.io"
protocols.io provides a rich source of user vetted information on what constitutes the essential data and metadata needed to fully describe a scientific protocol. We will use this information to create a JSON structure that will serve as a cornerstone for our open-source JSON representation of a "static" protocol.

[2022-03-18 22:38] mfero opened #6 "MVP rendering of a "static protocol" from JSON"

[2022-03-18 22:51] mfero opened #7 "MVP Node-"

[2022-03-29 18:23] eabeliuk commented on #4
@mfero working on this.

[2022-04-12 18:06] eabeliuk commented on #4
@christopher-lamkin and @tgreen7 are helping on this, to be able to import a protocol from protocol.io into our platform, through our APIs

[2022-04-19 19:03] mfero opened #8 "Protocol Organization in TeselaGen"
- [ ] Create a monorepo folder in the BioMADE repo (recommend using Yarn and Lerna)
- [ ] Create a CLI project in the monorepo using OClif
- [ ] Start creating JSON Specifications for the Manifest file
- [ ] Hook everything up to CI
- [ ] Start defining other ContentFormats such as our own workflow definition formats
- [ ] Alternatively create a library in the app for Manifests
- [ ] Work on tools

[2022-04-19 19:20] mfero opened #9 "Create a monorepo folder in the BioMADE repo (recommend using Yarn and Lerna)"
@tgadam can you flesh this ticket out a bit?

[2022-04-19 19:20] mfero opened #10 "Create a CLI project in the monorepo using Deno"
Create a CLI project using Deno and Nx monorepo workspaces.

[Deno](https://deno.land/) - Deno is the "next" iteration of [Node.js](https://deno.land/manual/node/dnt). It provides native TypeScript and es6 support. It's compatible with Node.js and supports isomorphic (runs on back and front end) code. Finally it has the advantage of being able to target all major OS's and compile to a [single exec

[2022-04-19 19:20] mfero opened #11 "Create JSON Specifications for the Manifest file"
I propose using TypeBox with Deno to create the specification. Then compile that library to WASM for use in other languages such as Python.

The current draft specification is documented on the website fsml.org.

TypeBox - TypeBox is a type validation system built on TypeScript and JSON Schema. It provides the ability to have static (or transpile time) TypeScript validation of types as well as run

[2022-04-19 19:21] mfero opened #12 "Hook everything up to CI"

[2022-04-19 19:21] mfero opened #13 "Start defining other ContentFormats such as our own workflow definition formats, or create a library in the app for Manifests"

[2022-04-19 19:22] mfero opened #14 "Work on tools to convert from one ContentFormat to another (protocol to workflow)"

[2022-04-19 19:58] tgadam commented on #4
I moved this to the backlog because I think it will probably take us the next 2 sprints to get the pre-requisites done for this.

[2022-04-26 19:09] tgadam commented on #9
As soon as we decide on what monorepo tooling to use, we should move forward with this.

[2022-05-07 01:01] mfero opened #15 "Protocol Table"
### Protocol Table
![Mockups for protocols 1](https://user-images.githubusercontent.com/7561861/167231704-79a7f1cd-c5b9-4df5-8c77-1787ae3ee642.png)
![Mockups for protocols 2](https://user-images.githubusercontent.com/7561861/167231705-314aeb7b-39bb-4193-a2e4-ff0b7e0b6004.png)

[2022-05-07 01:14] mfero commented on #15
@christopher-lamkin @tgreen7 please review for completeness.

[2022-05-07 01:18] mfero opened #16 "Protocol Record"
**Protocol Record View**

[2022-05-07 04:30] mfero commented on #16
@tgreen7 @christopher-lamkin please review for completeness.

[2022-05-20 00:12] mfero commented on #16
@christopher-lamkin @tgreen7 LMK if you have any questions.

[2022-05-21 03:51] mfero commented on #16
@tgreen7 @christopher-lamkin @tgadam @eabeliuk  I've added to and revised this ticket on the basis of our conversations today. Let me know if we need to do more clarification. I'm sure the JSON schema needs a lot of work and development to make it do everything we need, this is just what I was able to generate automatically from the protocol JSON representation of this protocol using the tools @tg

[2022-05-23 15:10] tgadam opened #17 "Reorganize GitHub pages website"
Currently the GitHub pages site is on a separate branch and hosted from the root of the repo. I think in order to facilitate auto generated documentation on the website we should merge it into the main branch and put it in a subfolder.

Additionally I plan to rename the repo to all lowercase to match the patter of our other repos.

- [x] Move into website folder
- [x] Merge into main
- [x] Rename

[2022-05-23 15:17] tgadam opened #18 "Setup Nx with Deno CLI project and TypeBox"
After careful evaluation, the following tech stack has been chosen:

1. Deno - Deno is the "next" iteration of Node.js. It provides native TypeScript and es6 support. It's compatible with Node.js and supports isomorphic (runs on back and front end) code. Finally it has the advantage of being able to target all major OS's and compile to a single executable / CLI tool.
2. Nx - for monorepo support.

[2022-05-26 13:29] tgadam opened #19 "Test Showdown with Deno"
We want to have a predictable way to convert markdown to html. Showdown is one of the most popular packages that does this. We need to determine if it will work with Deno.

https://github.com/showdownjs/showdown

[2022-05-26 13:35] tgadam opened #20 "Test MDX2 conversion with Deno"
In addition to "regular" markdown we would like to support MDX v2 (markdown with JSX...aka React Components). I found an example of doing this in Node.js https://github.com/mdx-js/mdx/discussions/1985#discussioncomment-2437016 . We need to see if we can get the same thing working in Deno.

[2022-05-26 18:55] tgadam commented on #17
Currently setting up a Gatsby template based on Hasura docs.

[2022-06-03 21:19] eabeliuk commented on #17
@tgadam is this one completed?

[2022-06-03 21:35] eabeliuk opened #22 "Manually create a TG workflow based on a protocols.io example protocol"
Related to #14

[2022-06-03 21:38] eabeliuk commented on #11
@tgadam let's discuss this one whenever you have a chance.

[2022-06-03 21:55] eabeliuk opened #23 "Develop a draft standard for fermentation process and protocol data"
Objective 2.1 - Develop a draft standard for fermentation process and protocol data: This
objective includes the creation of a specification, which we provisionally call the Fermentation Science Markup
Language or FSML. The FSML specifications define the syntax and semantics of FSML. These documents will
become the definitive references for FSML. The objective will also include the development and

[2022-06-03 21:56] eabeliuk opened #24 "libFSML tools library"
Develop appropriate tooling for reading, writing, and
manipulating files and data streams in FSML format. Written in Python and provides APIs for JavaScript,
Python and tools for binding standardized XML to Python, JSON objects. An additional objective in support of
the library is to develop an FSML Development Process that details the development process and community
organization procedures that

[2022-06-03 21:56] eabeliuk opened #25 "Task 2: Open Source Data Exchange Standard"
We will work with the BioMADE community to develop a draft
standard for fermentation data taken at the manufacturing operating systems level. Datasets will be
represented in a structure that reveals the characteristics of individual data items and the relationships among
them. In addition, we will develop parser generation software that will auto-generate a parser that can accept
relatively unstru

[2022-06-03 22:02] eabeliuk commented on #25
@tgadam , let's discuss about this ticket, because we'll need to work on a deliverable due on month 6.

[2022-06-17 23:13] tiffanydai commented on #22
**Example protocols in protocols.io**

Assembly/Transformation/Plating:
https://www.protocols.io/view/golden-gate-assembly-protocol-for-neb-golden-gate-q26g7bz6qlwz/v1?step=10

Assembly/Transformation:
https://www.protocols.io/view/in-vitro-assembly-and-transformation-j8nlk4z31g5r/v1

Fermentation:
https://www.protocols.io/view/fermentor-growth-of-streptococcus-sanguinis-5qpvo5jrxl4o/v1?step=11.1

[2022-06-21 18:03] #17 closed

[2022-06-24 20:56] eabeliuk commented on #22
@tgreen7 could you please export the json spec of the above protocols and attach them to this ticket?

[2022-06-24 21:07] tgreen7 commented on #22
Here is a zip containing the JSON responses from `https://www.protocols.io/api/v4/protocols/{id}` for the above protocols

[Protocols Json.zip](https://github.com/TeselaGen/fsml.org/files/8980697/Protocols.Json.zip)

[2022-06-29 16:10] tgadam opened #28 "Data vs Protocol"
[Task 2](https://github.com/TeselaGen/fsml.org/issues/25) describes at a high level developing a draft for fermentation _**data**_. However for the past 6 months we've been focused on creating a specification for fermentation **_protocols_**.

I think we should have a planning discussion to better understand the requirements of the work and ensure our current work is heading in the right direction

[2022-06-29 16:12] tgadam commented on #24
@eabeliuk can we close this issue and move it into the milestone?

[2022-06-29 16:13] tgadam commented on #23
@eabeliuk can we close this issue and move it into the milestone?

[2022-06-29 16:15] tgadam commented on #22
@mfero I'm unsure what milestone this aligns with... can you provide some clarification?

[2022-06-29 16:24] tgadam opened #29 "Deno -> WASM -> Python"
In regards to libFSML https://github.com/TeselaGen/fsml.org/milestone/3 , task indicates that we need to write the library in Python. However I think writing it in Deno and compiling it to WebAssembly (WASM) and then importing WASM into Python would provide us maximum flexibility because then we could consume it in the browser via JavaScript or on the server via JavaScript or Python or any other l

[2022-06-29 17:45] tgadam opened #30 "Create Deno SDK (package) that provides manifest generation and validation functionality"
The manifest schema is stored in the spec package. We need a package that will contain the functionality to use the schema to both generate and validate the schema.

We want this package to be isomorphic so it needs to not have any server or web specific dependencies such file system libraries. Instead data should be passed to this package as a stream.

[2022-06-29 17:58] tgadam commented on #28
Both data and protocols need to be handled by the specification (aka FSML).

[2022-06-29 17:58] #28 closed

[2022-06-29 17:59] tgadam opened #31 "Develop the first draft of the data schema for FSML"
We've proposed a draft for the exchange protocols and now we need to expand upon that to also support exchanging data generated by those protocols such as execution traces and workflow runs.

We should take our existing Test Data Model and convert it into a standard.

[2022-06-29 18:06] #29 closed

[2022-06-29 18:09] tgadam opened #32 "PoC Deno -> WASM -> Python Library"
Create a Proof of Concept with a trivial example that takes a Deno package, compiles it to WASM, and uses that WASM module in a Python library.

## Phase I

- [ ] Create trivial Deno package that exports several functions and classes
- [ ] Convert the package to JavaScript using Deno to Node [dnt ](https://deno.land/manual/node/dnt)
- [ ] Convert the JavaScript code to WASM using [Javy](https://ww

[2022-06-29 18:13] tgadam opened #33 "Identify Members to Join our Community"
We need to start developing relationships with other developers who will be interested in both using and contributing to this schema and tool chain.

[2022-07-01 19:20] tgadam opened #34 "Provide better way to update website"
The current way of updating the Gatsby site is cumbersome. You have to pull the code locally, edit the markdown, run a build process, then preview it locally and then commit it. Additionally there's no way to share a preview of the changes with anyone else.

- [ ] Create GitHub Action to auto build markdown changes
- [ ] Create a way to preview new website changes

[2022-07-01 19:22] tgadam opened #35 "Design command structure for CLI tool"
We need to layout the command structure for the FSML CLI tool.

Here's what I have so far:

[code]

[2022-07-01 19:23] tgadam opened #36 "Create tests to check for broken links on website"
The current way in-app links are created in Gatsby makes it easy to create a broken link. We need a crawling test that can be run in a GitHub Action that will find broken links in the website and website previews (depends on #34 )

[2022-07-01 19:30] tgadam opened #37 "Refactor manifest schema to enable it to be used for other types such as data"
It was identified that the manifest schema will need to cover fermentation data as well as protocol. Additionally we've identified upstream components such as en experiment definition and other associated information such as the equipment and execution environment needed to run a protocol that may also need be tracked by a manifest.

To accommodate this I propose adding a type field to the core sc

[2022-07-01 20:06] tgadam opened #38 "Define Utility Score Calculation methods"
Each utility score area needs to have the calculation method defined for it. Each score should be normalized to fall between 0-1 inclusive.

- [ ] Define Readable Utility Score Method
- [ ] Define Parsability Utility Score Method
- [ ] Define Scalability Utility Score Method
- [ ] Define Automatibility Utility Score Method
- [ ] Define Viablilty Utility Score Method
- [ ] Define Traceability Utili

[2022-07-01 20:06] tgadam opened #39 "Define Readable Utility Score Method"

[2022-07-01 20:06] tgadam opened #40 "Define Parsability Utility Score Method"

[2022-07-01 20:06] tgadam opened #41 "Define Scalability Utility Score Method"

[2022-07-01 20:06] tgadam opened #42 "Define Automatibility Utility Score Method"

[2022-07-01 20:06] tgadam opened #43 "Define Viablilty Utility Score Method"

[2022-07-01 20:06] tgadam opened #44 "Define Traceability Utility Score Method"

[2022-07-01 20:06] tgadam opened #45 "Define Parameterization Utility Score Method"

[2022-07-01 20:06] tgadam opened #46 "Define Transferability Utility Score Method"

[2022-07-01 20:07] tgadam opened #47 "Define Executability Utility Score Method"

[2022-07-01 20:07] tgadam opened #48 "Define Predictability Utility Score Method"

[2022-07-01 20:07] tgadam opened #49 "Define Relevance Utility Score Method"

[2022-07-01 20:07] tgadam opened #50 "Define Queryable Utility Score Method"

[2022-07-01 20:07] tgadam opened #51 "Define Comparability Utility Score Method"

[2022-07-01 20:07] tgadam opened #52 "Define Clarity Utility Score Method"

[2022-07-01 20:07] tgadam opened #53 "Define Flexibility Utility Score Method"

[2022-07-01 20:20] tgadam opened #54 "Create either an Nx project inference plugin or generator tool for Deno"
Currently Nx doesn't support Deno out of the box. However it has a flexible plugin system that will allow us to create plugins to support Deno packages. We have two ways to do this:

## Inference Plugin
An [inference plugin](https://nx.dev/extending-nx/project-inference-plugins) will crawl the directory structure and find directories that represent project directories and infer the project setting

[2022-07-01 20:22] tgadam opened #55 "Implement CLI Command to Generate Manifest for PDF with Core Sections"
Implement CLI Command to Generate Manifest for PDF with Core Sections. Depends on #35

[2022-07-01 20:23] tgadam opened #56 "Implement e2e CI tests for CLI tool"
Implement e2e CI tests for CLI tool. Depends on #55

[2022-07-01 20:23] tgadam opened #57 "Refactor Schema to have checksum for individual content files"
Refactor Schema to have checksum for individual content files

[2022-07-01 20:24] tgadam opened #58 "Create CD GitHub Action for release CLI as single EXE"
Create CD GitHub Action for release CLI as single EXE

[2022-07-01 20:25] tgadam opened #59 "Create way to self update CLI tool"
Create way to self update CLI tool by querying GitHub repo releases for latest version and downloading and replacing existing exe.

[2022-07-01 20:26] tgadam opened #60 "Create Plugin System for CLI using Dynamic Imports"
Create Plugin System for CLI using Dynamic Imports. Example https://medium.com/deno-the-complete-reference/dynamic-imports-in-deno-5e9eb7f66238

[2022-07-01 20:28] tgadam opened #61 "Setup TSDoc for Deno packages"
Setup [TSDoc](https://tsdoc.org/) for Deno packages. This should be hooked to a GitHub Action.

[2022-07-01 20:29] tgadam opened #62 "Setup Unit Tests for Deno Packages and Apps"
Setup [Unit Tests](https://deno.land/manual/testing) for Deno Packages and Apps

[2022-07-01 20:31] tgadam opened #63 "Setup Unit Test Coverage Reports for Deno Packages"
Setup Unit Test [Coverage Reports](https://deno.land/manual/testing/coverage) for Deno Packages and hook it up to CodeCov for OpenSource.

[2022-07-01 20:58] tgadam opened #64 "Implement CLI Command to Verify Hosted Manifest"
Implement CLI Command to Verify Hosted Manifest

[2022-07-01 20:59] tgadam opened #65 "Implement Command to Verify Packaged Manifest"
Implement Command to Verify Packaged Manifest

[2022-07-01 20:59] tgadam opened #66 "Implement CLI Command to Generate Core Manifest for Workflow Definition"
Implement CLI Command to Generate Core Manifest for Workflow Definition

[2022-07-01 21:00] tgadam opened #67 "Implement CLI Command to Generate Manifest for Jupyter Notebook File"
Implement CLI Command to Generate Manifest for Jupyter Notebook File

[2022-07-01 21:00] tgadam opened #68 "Implement CLI Command to Generate Core Manifest for Generic (unknown) Flat File"
Implement CLI Command to Generate Core Manifest for Generic (unknown) Flat File

[2022-07-01 21:01] tgadam opened #69 "Implement CLI Command to Generate Core Manifest for Protocols.io JSON"
Implement CLI Command to Generate Core Manifest for Protocols.io JSON

[2022-07-01 21:06] tgadam opened #70 "Create Documentation Showing how to install and use CLI"
Create Documentation Showing how to install and use CLI

[2022-07-12 18:38] tgadam commented on #63
@tnrich I think you've setup CodeCov for OVE... can you help us get unit tests and coverage setup for the FSML code?

[2022-07-12 18:39] tgadam commented on #62
This is related to #63 @tnrich @tgreen7 can you look at the Deno docs and work on getting some basic unit tests setup?

[2022-07-12 18:40] tgadam commented on #61
We'll want to generate these docs and put them somewhere in the website.

[2022-07-12 18:58] tgadam opened #73 "Develop examples using real world fermentation data"
We need to develop a couple of examples demonstrating converting source (aka raw) fermentation data into the FSML data standard.

- [x] Develop a public facing example that can be stored in fsml.org
- [x] Develop an example using partner data

[2022-07-12 19:17] tgadam opened #74 "Choose an example output format that is Python friendly"
Once a user gets fermentation into FSML then we want to be able to convert FSML to a Python (pandas) optimized format. One thought is Feather since it is optimized for Python, R, and Julia but it's not clear if that's the best first example.

https://pandas.pydata.org/docs/user_guide/io.html

[2022-07-12 19:21] juanneilson commented on #74
[TOML](https://realpython.com/python-toml/?utm_source=notification_summary&utm_medium=email&utm_campaign=2022-07-11) is being used a lot now in Python and is very versatile and human-readable.

[2022-07-15 21:26] eabeliuk commented on #19
@tgadam let's talk about this one early next week

[2022-07-15 21:52] eabeliuk commented on #73
Here is an interesting example that we might use: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5320064/#bib1

[2022-07-15 22:31] mfero opened #77 "Holding Ticket"
References to protocols.io example plasmid prep protocol:

1. [JSON for the example plasmid prep protocol from protocols.io](https://drive.google.com/file/d/1JD1BkzgW8TohXNO7c3y7vHWTTAHZAWe1/view?usp=sharing)
2. [JSON SCHEMA generated from the example plasmid prep protocol from protocols.io](https://drive.google.com/file/d/1JCZ4w2NVM2ve0-PiFCI21jN_bYcAsrd5/view?usp=sharing)
3. URL for the example

[2022-07-15 23:17] AndresPrez commented on #31
Making progress in #78

Im not sure about a lot of things yet but let's talk about it

[2022-07-19 18:14] tgadam commented on #19
TSDocs is currently taking priority other this. A cursory glance didn't yield any immediate straightforward solutions.

[2022-07-19 18:27] tgadam commented on #31
In progress  @AndresPerezTesela and @tgadam  need to have a further discussion about the proposed examples.

[2022-07-19 18:30] tgadam commented on #73
Identified some partner data that we can use. The above link has a large volume of data that would be a good complete public example but it's pretty dense so it may not be a good intro dataset.

Still searching for a good intro public dataset.

[2022-07-19 18:33] eabeliuk commented on #73
We can use this dataset: https://abpdu.lbl.gov/resources/fermentation-bioreactor-sample-data/

[2022-07-19 18:36] tgadam commented on #60
@juanneilson we shared pair and discuss this further.

[2022-07-19 18:40] tgadam commented on #61
I think what we want to try first is Deno/TypeScript --> Markdown --> Move Markdown to Docusaurus Docs Folder --> Let Docusaurus convert Markdown to HTML

@tgreen7 @christopher-lamkin we should pair if you run into issue. I think the main focus is making sure that we can use TSDoc with Deno and generate Markdown from the Deno/TypeScript files. The rest should be GitHub Action configuration.

[2022-07-19 18:41] tgadam commented on #62
@tnrich is this working? Can we close the ticket? I noticed when making a PR that several tests were running.

[2022-07-19 18:42] tgadam commented on #63
@tnrich were you able to get this working?

[2022-07-19 18:43] tgadam commented on #74
Reviewing applicable formats is still in progress.

[2022-07-19 18:44] #62 closed

[2022-07-19 18:46] tgadam commented on #35
I'd like to discuss this at our next meeting and get feedback.

[2022-07-21 17:09] tnrich commented on #63
@tgadam nope, not able to get this working

The deno coverage command doesn't seem to be working quite yet..
I tried to troubleshoot it and couldn't run through deno's official example so I made an issue in the linked example repo - https://github.com/oakserver/oak/issues/539

Seems like deno is still a bit immature at this point.

[2022-07-21 17:10] tnrich commented on #63
@tgadam oh, looks like someone got back to me on the example! I'll work through the example and see if that gets me unblocked.

[2022-07-25 20:58] tgadam commented on #35
From the meeting we should switch the defaults to be verb --> noun.

[2022-07-28 22:17] tnrich commented on #63
@tgadam I was able to get the coverage generating properly for the oak repo but for some reason running the same commands locally does not seem to work.. not sure what is going wrong..

[2022-07-29 17:52] tgadam commented on #63
@tnrich I noticed the oak example uses import maps. I was planning on moving us to using import maps but hadn't done it yet. Maybe that's part of what we need to do?

[2022-07-29 18:21] tnrich commented on #63
@tgadam potentially? Not sure why that would be necessary but I suppose it might be

[2022-07-29 18:31] tgadam opened #81 "Merging PR's unrelated to the website cause website PR previews to get deleted"
Merging PR's unrelated to the website cause website PR previews to get deleted. When we merged https://github.com/TeselaGen/fsml.org/pull/78 which only had changes in the `packages/` folder, it still triggered the website deploy and it deleted the `pr-preview/` folder in the gh-pages branch https://github.com/TeselaGen/fsml.org/commit/7d5a4592beda3369e7ff8623b196e2363f846993.

[2022-07-29 18:53] tgadam opened #82 "Implement CLI Command to generate manifest for fermentation data"
Implement CLI Command to generate manifest for fermentation data.

Depends on #35 and #30

This ticket would generate a manifest that implements the generation of a manifest for a data files that don't get parsed.

[2022-07-29 18:54] tgadam opened #83 "Implement parser plugin for Microbyre data"
Implement parser plugin for Microbyre data. Depends on #82 and #60

[2022-07-29 19:03] tgadam opened #84 "Pick a JSON Schema Visualizer and auto update website with schema and visualizer"
Pick a JSON Schema Visualizer and auto update website with schema and visualizer.

We want to auto generate the following on post on the fsml website from the https://github.com/TeselaGen/fsml.org/blob/main/packages/standard/fsml-schema.json file.

- [ ] Formatted Raw JSON Schema
- [ ] Markdown documentation such as https://github.com/CesiumGS/wetzel or https://github.com/atlassian-labs/json-schem

[2022-07-29 22:50] AndresPrez opened #85 "Implement CLI structure and "defaults" command"
Implement CLI project strcuture and the "defaults" model commands based on the design in https://github.com/TeselaGen/fsml.org/issues/35

[2022-08-01 18:25] tnrich commented on #63
@tgadam I tried fiddling with the import-map and was unable to get coverage working with that either.. Not sure what the issue is here.

[2022-08-01 18:28] tnrich commented on #63
Lol looking more closely reveals that we're not actually importing any src files into our test. That might be at the source of this 😆

[2022-08-02 18:40] #31 closed

[2022-08-02 18:41] tgadam commented on #58
@tnrich have you had a chance to look at this?

[2022-08-02 18:43] tgadam commented on #73
@mfero is seeing if we can use our previously identified partner example as a public example.

[2022-08-02 18:44] tgadam commented on #60
@juanneilson feel free to hand this off to someone else

[2022-08-02 18:48] tgadam commented on #81
@tgreen7 any idea what's going on here?

[2022-08-02 18:50] tnrich commented on #58
@tgadam  Haven't started on this yet. I can give it a whirl soon

[2022-08-02 18:53] #35 closed

[2022-08-02 18:56] tgadam commented on #74
@AndresPerezTesela indicated that we should first either generate or find a large dataset to try out with various output formats.

[2022-08-02 18:57] tgadam opened #88 "Find or generate a large dataset to test CLI tool exporting"
Find or generate a large dataset to test CLI tool exporting. See https://github.com/TeselaGen/fsml.org/issues/74#issuecomment-1203097025

[2022-08-02 18:59] tgadam commented on #56
@tgreen7 is this working yet? Or are just the unit tests working?

[2022-08-02 19:00] tgadam commented on #61
We going to use Deno Docs with an iframe instead

[2022-08-02 20:59] mfero commented on #73
Yes, this is public.

[2022-08-04 16:44] tnrich commented on #58
@tgadam here's the PR with the automated release of a CLI executable file  - https://github.com/TeselaGen/fsml.org/pull/89

And here's the release it created - https://github.com/TeselaGen/fsml.org/releases/tag/refs%2Fpull%2F89%2Fmerge

Lemme know if that is what you're looking for!

[2022-08-05 16:20] AndresPrez commented on #11
Using Deno, TypeBox APIs need to be imported via esm.sh https://github.com/sinclairzx81/typebox/issues/216

[2022-08-05 18:13] eabeliuk commented on #63
@tgadam , was this covered in #75? If so, should we move this to "merged"?

[2022-08-05 18:24] eabeliuk commented on #73
@mfero to check if we could randomize the values in the csv files from Microbyre.

[2022-08-05 18:24] eabeliuk commented on #73
@AndresPerezTesela to check if we can select some data from the ABPDU dataset, as a working example.

[2022-08-05 18:41] eabeliuk commented on #33
BioMADE members here: https://www.biomade.org/biomade-members
In particular, we are asking Lanzatech if they would like to get involved.
A few other members that we are considering to join the FSML effort: ABPDU, DoneProperly, TurtleTree, Phycus, among others.

[2022-08-05 19:11] eabeliuk commented on #9
@tgadam I think we can close this ticket? It was marked as completed in the corresponding control ticket.

[2022-08-05 19:13] eabeliuk commented on #10
@tgadam , let's discuss this one. It seems that we can mark this as completed too.

[2022-08-05 19:15] eabeliuk commented on #18
@tgadam , the first and third tasks are both linking to the same ticket #9

[2022-08-05 19:23] eabeliuk commented on #8
We can use this protocol (PDF version) as an example for the CLI tool:
https://www.protocols.io/view/fermentor-growth-of-streptococcus-sanguinis-5qpvo5jrxl4o/v1

[2022-08-05 19:24] eabeliuk commented on #83
Team is making progress on this one.

[2022-08-05 19:30] eabeliuk opened #90 "Protocol Table and Record Views (PDF only)"

[2022-08-05 19:32] eabeliuk commented on #90
This relates to: https://github.com/TeselaGen/customer-support/issues/138

[2022-08-05 19:33] eabeliuk commented on #90
We are making good progress on this ticket.
@mfero to test what we have developed so far, and to add a description of how this is working.

[2022-08-08 18:39] tnrich commented on #58
@tgadam here's the updated PR https://github.com/TeselaGen/fsml.org/pull/89
and the release it made w/ 4 different executable files for each operating system:
https://github.com/TeselaGen/fsml.org/releases/tag/refs%2Fpull%2F89%2Fmerge

[2022-08-12 18:28] eabeliuk commented on #56
We could at least test the version command asap, and then add the other tests.

[2022-08-12 18:30] eabeliuk commented on #56
@tnrich we might need some help from you on this one, at least adding the first CI test.

[2022-08-12 18:32] eabeliuk commented on #73
@mfero still to check with Microbyre about randomizing their csv files.

[2022-08-12 18:36] eabeliuk commented on #73
@AndresPerezTesela Could you add some links here pointing to the datasets to be used as an interim example?

[2022-08-12 18:38] eabeliuk commented on #60
@AndresPerezTesela could be looking into this ticket, but will chat with @tnrich too.

[2022-08-12 18:40] eabeliuk commented on #81
@tgreen7 still checking this issue.

[2022-08-12 18:43] eabeliuk commented on #84
@tgadam to pair with @christopher-lamkin on this one asap.

[2022-08-12 18:44] #9 closed

[2022-08-12 18:46] eabeliuk commented on #82
We will use Microbyre data to test CLI. Relates to #83 .

[2022-08-12 18:52] eabeliuk commented on #12
this was covered by other tickets that have been completed except for #56

[2022-08-12 18:56] eabeliuk commented on #8
It seems that this ticket has been superseded by other tickets. We will review this control ticket soon and might close it.

[2022-08-16 18:11] tgadam commented on #58
We're trying to figure out to sign the exe's so they don't throw up security warnings on Mac OS.

[2022-08-16 18:13] tgadam commented on #56
@tnrich @tgreen7 can you take a look at this?

[2022-08-16 22:46] tgreen7 commented on #84
The wetzel one would not run. Looks like it might be windows only? I tried https://www.npmjs.com/package/material-ui-json-schema-viewer for a first pass. Seems like we can use react components pretty easily.

[2022-08-16 22:50] tgreen7 commented on #81
This should be fixed now that we moved to a different deploy action. The old deploy action was wiping the pr-preview folder. All old prs will still be broken.

[2022-08-16 22:52] tnrich commented on #58
@tgadam what sort of security warnings are you seeing? When trying on my mac here's what I get:

[code]

Which seems fine?

[2022-08-17 16:11] #85 closed

[2022-08-17 16:24] tgadam commented on #58
@tnrich I’m getting
![image](https://user-images.githubusercontent.com/42746585/185192283-1e405085-271f-47ea-a4e0-8108cd2c4be2.png)

[2022-08-17 16:38] tnrich commented on #58
@tgadam is this how people will be running the tool? I was under the impression it would be run primarily through a CLI?

[2022-08-17 20:58] juanneilson commented on #84
Here's a very good one, not sure if one could automate visualizations:
https://jsonvisio.com

[2022-08-17 22:39] tnrich commented on #56
@tgadam what do we want to use for the e2e tests? Also is this about testing the compiled executable files or just testing the uncompiled cli tool?

[2022-08-17 22:42] tnrich commented on #59
I'm imagining that a possible way to do this would be to add a self-update check each time the CLI tool is ran to first see if there is a more recent version that should be getting used instead (kind of like `brew` on a mac). This could add a slight delay to the command and also would mean that having internet access might be required for running the CLI tool.

[2022-08-19 15:53] AndresPerezTesela commented on #10
Design in https://github.com/TeselaGen/fsml.org/issues/35 and implemented in https://github.com/TeselaGen/fsml.org/issues/85

[2022-08-19 15:53] #10 closed

[2022-08-19 15:54] AndresPerezTesela commented on #11
https://github.com/TeselaGen/fsml.org/issues/31

[2022-08-19 15:54] #11 closed

[2022-08-19 16:11] AndresPerezTesela commented on #65
Partially tackled in: https://github.com/TeselaGen/fsml.org/pull/86. Still work in progress

[2022-08-19 18:18] eabeliuk commented on #61
This relates to https://github.com/TeselaGen/fsml.org/pull/97

[2022-08-19 18:20] eabeliuk commented on #58
@thomas: indeed @tgadam is getting this message when running the CLI tool.

[2022-08-19 18:22] tnrich commented on #58
@tgadam @eabeliuk  By double clicking on the executable file or running a command in the terminal like `/Users/adam/Downloads/cli_executableMac` ?

[2022-08-19 18:29] tgadam commented on #56
@tnrich ideally we can use the Deno test and coverage tools with the compiled executable files... however I'm not sure that will actually work so we may need to use them with the uncompiled tool and then have a few sanity tests against the compiled tool that won't have coverage.

[2022-08-19 18:31] eabeliuk commented on #33
We talked to DoneProperly, ABPDU, Phycus and Impossible Foods. More interested parties likely to be identified in the months to come. We will keep them posted about our recent developments, demonstrating how FSML plugins can be developed and utilized.

[2022-08-19 18:33] #81 closed

[2022-08-19 18:39] eabeliuk commented on #84
@juanneilson ..looks good.
@tgreen7 : could you use this tool to embed the graph on the fsml website?

[2022-08-19 18:41] eabeliuk commented on #88
We might use the Phycus randomized (and extended) dataset for this.

[2022-08-19 18:44] eabeliuk commented on #60
We are having challenges using dynamic imports and compiling to a single executable using with deno.

[2022-08-19 18:54] eabeliuk commented on #60
A little bit more research is needed. High priority to this ticket.

[2022-08-19 18:57] eabeliuk opened #100 "Implement parser plugin for Phycus data"

[2022-08-19 20:23] tgreen7 commented on #84
Pasting in our example schema it is too big for creating a link. Maybe it will be possible once we actually make our real schema which should be smaller.

[2022-08-20 00:19] eabeliuk commented on #84
not sure about what is it that you are testing, but what about using an URL shortener? (e.g.: https://tinyurl.com/ub2bn4th)

[2022-08-22 16:51] AndresPerezTesela commented on #73
AMBR Data is dispersed in many different files. I've created this folder with AMBR's public data and start putting something together: https://drive.google.com/drive/u/0/folders/1db63-5T3skv6nfF6C-ehR1SQyymh4iHW

[2022-08-22 21:20] AndresPerezTesela commented on #60
Notes on:

- **Javy**: Shopify's beta JS to WASM tool. _It's still in beta, error handling isnt very user friendly and requires close to advance knowledge in software development_

- **nexe/nexe**: Node to executable tool.
   - Supports up to node v14.15.3 (there are some releases after that but are buggy)
   -

- **vercel/pkg**: Node to executable tool

[2022-08-23 18:22] tgadam commented on #56
@tnrich do you have any more questions about this?

[2022-08-23 18:23] tgadam commented on #59
I think it's fine to require internet access to check for updates as long as we make that auto checking for updates a preference users can configure.

[2022-08-23 18:31] tnrich commented on #56
@tgadam are we still sticking with Deno for now?

[2022-08-23 19:35] tgadam commented on #56
Yeah... for now

[2022-08-24 21:56] tgadam commented on #60
Here are some additional thoughts from discussions we've had around this:

### Background:
Deno was originally selected because it supports dynamic and remote imports. This would enable people extending the tools to create and host their plugins anywhere on the internet and the tools could download the plugins on-demand over the network. Deno was also selected because it would compile to a single

[2022-08-26 18:23] eabeliuk commented on #61
We identify issues with Deno that will force us to refactor our code. This ticket will have to wait until we implement such refactoring.

[2022-08-26 18:25] eabeliuk commented on #58
We identify issues with Deno that will force us to refactor our code. This ticket will have to wait until we implement such refactoring.

[2022-08-26 18:26] eabeliuk commented on #82
We identify issues with Deno that will force us to refactor the plugin framework. This ticket will have to wait until we implement such refactoring.

[2022-08-26 19:22] tgadam opened #101 "Evaluate Zero Install as an alternative to installing a Deno CLI tool with Dynamic Imports"
Before abandoning Deno for Node.js/Nexe, we'd like to investigate trying to make an installer using a 3rd party tool https://get.0install.net/#mac .

Steps:

1. Create a small example Deno CLI app that uses dynamic remote import to import some code and execute it
2. Bundle that CLI app
3. Create an installer using Zero Install to install the bundle, Deno runtime, and a shell script.
4. Test the in

[2022-08-30 18:10] tgadam commented on #101
@AndresPrez going to adapt an example to Deno that's in TypeScript and then have @christopher-lamkin try it out on his M1.

[2022-09-06 18:01] tgadam commented on #60
We're going to move forward with Deno and figure out a way to build our own installation packages.

[2022-09-06 18:01] tgadam commented on #101
ZeroInstall was not a viable option. We'll be looking to adapt OClif scripts to Deno.

[2022-09-06 18:03] tgadam opened #102 "Adapt OClif Scripts to work for Deno"
Currently OClif https://oclif.io/ has scripts to package a Node/TypeScript CLI project as an installation package. We'd like to try adapting those scripts to Deno/TypeScript

[2022-09-06 18:10] tgadam commented on #56
@tnrich for now we want e2e tests but not with the compiled version of the tool because we're not sure how we're going to compile it.

[2022-09-07 16:16] AndresPrez commented on #60
Had this branch made where deno is ditched in favour of typescript in case we decide to go back in the future: https://github.com/TeselaGen/fsml.org/tree/refactor/ap/deno-out-ts-in

[2022-09-09 18:21] eabeliuk commented on #84
We liked the original schema viewer (https://jsoncrack.com, formerly jsonvisio), but it has some limitations in terms of the size of the schema that can be embedded, using their embedding link (with default parameters). The plan is to download the tool and run it in our own instance, and explore using an embeddable component for a standalone react app.

[2022-09-09 18:23] eabeliuk commented on #84
Next step is to do a simple custom component for docusource, that can be used within fsml.org.

[2022-09-14 17:28] cowboyd commented on #60
@tgadam This is a real problem for us in the CLI that we are developing for Deno as well. At a minimum would love to find out about any solution you come up with, but also we're open to collaborating on it if you want help.

[2022-09-21 19:30] tgadam commented on #60
@cowboyd for now we're thinking of adapting the packaging and installation scripts that OClif uses for Deno.

[2022-09-21 19:30] tgadam commented on #60
We're close to having a plugin framework and example Microbyre plugin working

[2022-09-21 19:34] cowboyd commented on #60
@tgadam sounds amazing. I'm very curious how you ended up loading your plugins dynamically.

[2022-09-21 20:45] tgadam commented on #60
@cowboyd we used Deno's dynamic import. Here's an article that is a good starting point https://medium.com/deno-the-complete-reference/dynamic-imports-in-deno-5e9eb7f66238

[2022-09-22 13:10] cowboyd commented on #60
Ah I see, and then bundle Deno itself using the OClif style packaging.... makes sense.

[2022-09-23 18:47] eabeliuk commented on #60
Making progress with the plugin systems. Some preliminary tests are being run with the Microbyre dataset/plugin

[2022-09-23 18:50] eabeliuk commented on #83
Relates to: https://github.com/TeselaGen/fsml.org/issues/73

[2022-09-23 18:52] tgreen7 commented on #84
we want this to be solved https://github.com/AykutSarac/jsoncrack.com/issues/149 then we could host our schema on a cdn and easily be able to open it. I think that is preferable to hosting our own docker instance.

[2022-09-23 18:54] eabeliuk commented on #83
Tiffany looking into this, specifically extracting info from both csv and yaml files

[2022-09-23 18:56] eabeliuk commented on #100
Relates to https://github.com/TeselaGen/fsml.org/issues/73

[2022-09-23 19:03] eabeliuk commented on #33
@mfero to create a sheet listing members that we have identified so far.

[2022-09-23 19:04] eabeliuk commented on #33
@mfero to connect with Siemens

[2022-09-27 17:43] tgadam commented on #83
Working locally for first pass. Now focusing on yaml and HPLC data parsing.

[2022-09-29 15:29] AndresPrez commented on #102
So oclif seemed to have worked pretty well (at least for macos). I've submitted a contribution of to the oclif repo extending the packaging logic to support Deno projects via 2 PRs:

- https://github.com/oclif/core/pull/504
- https://github.com/oclif/oclif/pull/979

[2022-09-29 15:35] AndresPrez opened #110 "Implement oclif packaging for macos"
subticket to https://github.com/TeselaGen/fsml.org/issues/102

[2022-09-29 15:37] AndresPrez opened #111 "Implement oclif packaging for linux"
sub-ticket to https://github.com/TeselaGen/fsml.org/issues/102

[2022-09-29 15:37] AndresPrez opened #112 "Implement oclif packaging for windows"
sub-ticket to https://github.com/TeselaGen/fsml.org/issues/102

[2022-09-29 15:37] AndresPrez commented on #102
Sub-tickets:

- [ ] https://github.com/TeselaGen/fsml.org/issues/110
- [ ] https://github.com/TeselaGen/fsml.org/issues/111
- [ ] https://github.com/TeselaGen/fsml.org/issues/112

[2022-09-30 18:20] eabeliuk commented on #83
HPLC data comes from Microbyre in a slighly parsed (text file) format. @tiffanydai focusing on parsing these files properly.

[2022-09-30 18:22] eabeliuk commented on #33
@mfero , let's follow-up on this one. We also need to collect some letters from partners such as Microbyre and Phycus, based on Ben's feedback.

[2022-09-30 18:29] eabeliuk commented on #102
We have a Windows VM in GCP that could be used for troubleshooting #112 .
We could use a linux docker image to troubleshoot #111.
Next in priority will be given to #111 (vs #112)

[2022-09-30 18:41] eabeliuk commented on #59
OClif provides some functionality to update the corresponding installation package. As soon as we have the basic tooling to install packages, we might explore implementing this. For now, it has low priority.

[2022-09-30 18:43] eabeliuk commented on #100
Original dataset here (private): https://drive.google.com/drive/u/1/folders/1feyV3o6yBxVpGssQEuDMFAeQmd9vJYhZ

[2022-09-30 18:44] eabeliuk commented on #100
We have to double check with Phycus if we can publish the above dataset (@mfero )

[2022-09-30 19:06] eabeliuk opened #113 "Explore integration with Amber 250"
..or alternatively some other system used by one of our partners, in order to demonstrate how the FSML SDK can run within an integration flow in Node Red.

[2022-10-07 18:20] eabeliuk commented on #83
In the short term, we are going to publish v1.0 of the Microbyre plugin based on their csv files.

[2022-10-07 18:21] eabeliuk commented on #113
@mfero , let's follow-up about this one.

[2022-10-14 15:46] AndresPrez opened #116 "Improve error handling and user errors in CLI"
The current CLI code needs some better handling of different errors. Most of them are known errors but with poor error messages.

[2022-10-14 18:14] eabeliuk commented on #83
v1.0 of the Microbyre plugin is ready, being reviewed internally and asking permission from Microbyre to post it under this repo. We will continue working on extending the plugin for the other file types.

[2022-10-14 18:25] eabeliuk commented on #100
@tiffanydai , now that we have v1.0 for the Microbyre parser, we can probably have a similar plugin working for the Phycus dataset. Let's discuss more soon.

[2022-10-17 20:22] #110 closed

[2022-10-20 21:47] #60 closed

[2022-10-21 13:29] AndresPerezTesela commented on #82
Issues with Deno have been overcome.

[2022-10-21 13:29] #82 closed

[2022-10-21 13:30] AndresPerezTesela commented on #68
CLI tool generates manifest in JSON and YAML flat files.https://github.com/TeselaGen/fsml.org/pull/103

[2022-10-21 13:30] #68 closed

[2022-10-21 13:31] AndresPerezTesela commented on #65
@tgadam what's the verification that we was thought for the command to do?

[2022-10-21 13:33] AndresPerezTesela commented on #64
Im assuming the same verification logic as [in here](https://github.com/TeselaGen/fsml.org/issues/65#issuecomment-1220852093) needs to also apply for hosted manifests

[2022-10-21 13:34] AndresPerezTesela commented on #57
Partially tackled by https://github.com/TeselaGen/fsml.org/pull/86 where as hash of the manifest content is included

[2022-10-21 13:37] AndresPerezTesela commented on #54
@tgadam Since we can leverage Deno's `deno.jsonc` root project file to identify Deno packages and also use configure it to implement Deno Tasks to do routine stuff like compiling, can we consider this ticket closed?

[2022-10-21 13:44] #111 closed

[2022-10-21 13:59] AndresPerezTesela commented on #88
So far we've tested the CLI manifest generator with a 17,000 row data file. With this experiment, the following findings:

if the output file format is:
- JSON:
   - the manifest generation is pretty fast
   - the manifest file compared to CSV data file is around 15x larger, which is kind of expected as a CSV file has much less information than the FSML manifest.

- YAML:
   - the manifest generat

[2022-10-21 14:00] #88 closed

[2022-10-21 14:04] AndresPerezTesela commented on #73
Seems like we have an real MicroByre example to use. Closing ticket for now.

[2022-10-21 14:04] #73 closed

[2022-10-28 19:15] eabeliuk commented on #58
Now that we have oclif scripts working, we don't need to implement this strategy.

[2022-10-28 19:19] eabeliuk commented on #83
Microbyre authorized releasing v1.0 of this parser, which we have already released.

[2022-10-28 19:21] eabeliuk commented on #83
@tiffanydai working on v2.0 of this parser.

[2022-10-28 19:27] eabeliuk commented on #56
We don't have any plans to generate a compiled version of the CLI. @tgadam 's previous comment still applies: for now, we need e2e tests. We have some installation packages using oclif.
@tnrich , could you look into this? Thanks!

[2022-10-28 19:27] eabeliuk commented on #33
After talking with Ben, we mentioned that emails from partners would be ok too.

[2022-10-28 19:32] eabeliuk commented on #61
@tgreen7 could you re-open this PR and test it again?

[2022-11-17 15:07] AndresPerezTesela opened #130 "Packaging & Publishing"
In order for the community to start developing plugins or logic based on the FSML.org SDK, we need to implement a process for packaging and publishing of the FSML SDK code.

[2022-11-17 15:08] AndresPerezTesela opened #131 "Node publishing"
The FSML SDK code is written in Deno, however the plan is to also release the SDK for Node.

There's the [dnt](https://github.com/denoland/dnt) package which is a Deno to Node converted recommended by the Deno official [documentation](https://deno.land/manual@v1.26.1/node/dnt)

[2022-11-17 15:17] AndresPerezTesela commented on #131
I've found some limitation on this other deno to node converters (s.a., [deno2node](https://www.npmjs.com/package/deno2node)). They are non-blocking limitations but it's worth posting notes on them:

1. These converters don't recognize very well any import mapping configured in the project.
2. Bundling the deno project first solves 1., however deno bundles don't support typing yet (it's an [open i

[2022-11-17 15:20] AndresPerezTesela opened #132 "Deno publishing"

[2022-11-18 20:07] AndresPerezTesela opened #134 "FSML & Node-Red Integration"
This a Control ticket with the subticket needed to integrate the FSML SDK with Node-Red.

- [ ] #131
- [ ] Install FSML node packages in Node-Red Server
- [ ] Implement Node-Red Flow thats takes data in, uses an FSML plugin that can parse it and generate an FSML manifest

Implement an FSML plugin that can take in an FSML manifest and output it in a format needed for third party systems:
   - [ ] T

[2022-11-18 20:09] AndresPerezTesela opened #135 "Install FSML node packages in Node-Red Server"
We can leverage the login-required Node Red instance at https://biomade.teselagen.com/node-red-editor

[2022-11-24 14:44] AndresPerezTesela commented on #132
There seems to be an issue with publishing FSML SDK, since there's already a webhook configured in the FSML repo.

Open issue waiting for them to respond: https://github.com/denoland/wanted_modules/issues/66

[2022-11-24 19:32] #131 closed

[2022-11-30 17:53] AndresPerezTesela commented on #135
Already a working example with https://github.com/TeselaGen/lims/pull/10124. Of course we'll eventually add more FSML plugin packages in the future as we start developing/supporting more of them.